* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Open Sans";
  background-color: #f7f7f7;
  height: 100%;
}

.container {
  max-width: 30rem;
  padding: 0px;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 4px 6px;
  align-items: center;
  margin-bottom: .5rem;
}

.item:hover {
  background-color: #f7f7f7;
  border-radius: 6px;
}

.item label {
  cursor: pointer;
  margin: 0px;
}

.completed {
  color: gray;
  text-decoration: line-through;
}

i.fa-trash-alt {
  cursor: pointer;
}

.line-text {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #eee;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.line-text span {
  background: #fff;
  padding: 0 10px;
  color: #212529;
}

input[type="checkbox"] {
  margin-right: 5px;
  cursor: pointer;
}

img {
  margin-left: -5px;
}